html, body {
	margin: 0px auto 0px auto;
	padding: 15px;
	background-color: #151515;
	color: #eaeaea;
	font-family:  Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	text-align: center;
	font-size: 1.2em;
	line-height: 1.5;
	letter-spacing: -1px;

}

input {
	height: 35px;
	font-size: 0.8em;
	background-color: #151515;
	color: #B5E853;
	border: none;
	outline: none;
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;

}

#error {
	color : #FD3F49;
	font-weight: bold;
}

#options {
	font-size: 0.7em;
	color: #63C0F5;
}

#message{
		margin: 0px auto 0px auto;
		height:200px;
		width:600px;

}

#question{
	color: #B5E853;
}